<h1 class="display-4 text-primary">Messages#edit</h1>
<p><%= @msg %></p>

<% if @message.errors.any? %>
<ul>
    <% @message.errors.full_message.each do |err| %>
      <li><%= err %> </li>
    <% end %>
</ul>
<% end %>

<%= form_for(@message, url:{cotroller:'message', action:'update'}) do |f| %>
    <!-- form_for @object, html: { multipart: true }, do |f| -->
    <!-- form_for @object, html: { class: "classname" }, do |f| -->
    <div class="form-group">
      <%= f.label :personid %><br />
      <%= f.text_field :person_id, class:"form-control" %>
    <div>
    
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :message %><br />
      <%= f.text_area :message, row:3, class:"form-control" %>
    </div>

    <%= f.submit "更新" %>
<% end %>
